<app-divider>
Placeholder Component
</app-divider> 

<app-placeholder></app-placeholder>

    <app-divider>
        Segment Component
    </app-divider>


<app-segment>
    <ul>

        <i class="pdf file outline icon">
            No documents are listed for this customer.
        </i>

    </ul>


        <button class="ui primary button">
          Add Document
        </button>

</app-segment>


<app-segment>
    <ul>

        <i class="add icon">
            Add a resource
        </i>

    </ul>


        <button class="ui primary button">
            Click to add
        </button>

</app-segment>

   